.ticketitem {
  padding: 10px !important;
}

.ticketitem-container {
  background-color: white;
  border-radius: 7px;
  color: black;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 8px;
}

.item_info_title,
.item_info_text,
.item_title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.item_title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}

.item_info_title {
  font-weight: 600;
  font-size: 14px;
}

.item_info_text {
  font-size: 13px;
}

.ticketitem {
  cursor: pointer;
}
