:root {
  --c-text-primary: #282a32;
  --c-text-secondary: #686b87;
  --c-text-action: #404089;
  --c-accent-primary: #434ce8;
  --c-border-primary: #eff1f6;
  --c-background-primary: #ffffff;
  --c-background-secondary: #fdfcff;
  --c-background-tertiary: #ecf3fe;
  --c-background-quaternary: #e9ecf4;
}

.header img {
  display: block;
  max-width: 100%;
}

:focus {
  outline: 0;
}

.responsive-wrapper {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid var(--c-border-primary);
  background-color: var(--c-background-primary);
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content > a {
  display: none;
}

@media (max-width: 1200px) {
  .header-content {
    justify-content: space-between;
  }
  .header-content > a {
    display: inline-flex;
  }
}

.header-logo {
  margin-right: 2.5rem;
}

.header-logo a {
  display: flex;
  align-items: center;
}

.header-logo a div {
  flex-shrink: 0;
  position: relative;
}

.header-logo a div:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 50%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgba(#fff, 0.2);
  backdrop-filter: blur(4px);
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .header-navigation {
    display: none;
  }
}

.header-navigation-links {
  display: flex;
  align-items: center;
}

.header-navigation-links a {
  text-decoration: none;
  color: var(--c-text-action);
  font-weight: 500;
  transition: 0.15s ease;
}

.header-navigation-links a + * {
  margin-left: 1.5rem;
}

.header-navigation-links a:hover,
.header-navigation-links a:focus {
  color: var(--c-accent-primary);
}

.header-navigation-actions {
  display: flex;
  align-items: center;
}

.header-navigation-actions > .avatar {
  margin-left: 0.75rem;
}

.header-navigation-actions > .icon-button + .icon-button {
  margin-left: 0.25rem;
}

.header-navigation-actions > .header__button + .icon-button {
  margin-left: 1rem;
}

.header__button {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  height: 40px;
  border-radius: 8px;
  line-height: 1;
  border: 2px solid var(--c-border-primary);
  color: var(--c-text-action);
  font-size: 0.875rem;
  transition: 0.15s ease;
  background-color: var(--c-background-primary);
}

.header__button i {
  margin-right: 0.5rem;
  font-size: 1.25em;
}

.header__button span {
  font-weight: 500;
}

.header__button:hover,
.header__button:focus {
  border-color: var(--c-accent-primary);
  color: var(--c-accent-primary);
}

.icon-button {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  color: var(--c-text-action);
  transition: 0.15s ease;
  cursor: pointer;
}

.icon-button i {
  font-size: 1.25em;
}

.icon-button:focus,
.icon-button:hover {
  background-color: var(--c-background-tertiary);
  color: var(--c-accent-primary);
}

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}
