.ticket-container {
  width: 100%;
  display: grid;
}

@media (min-width: 1px) {
  .ticket-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .ticket-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .ticket-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
