.card-icon {
  font-size: 35px;
  padding: 0;
  margin: 0;
}

.link-secondary:link {
  text-decoration: none;
}
.link-secondary:visited {
  text-decoration: none;
}
.link-secondary:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.link-secondary:active {
  text-decoration: none;
}

.link-secondary {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-secondary span {
  margin-left: 4px;
}

.home-card-container {
  height: 100% !important;
}
